.container{
  min-height: 100vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.42);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
  
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    top: 0px;
  }
  
  
  .options{
    display: flex;
    align-items: center;
  }
  .menu-btn {
    color: white; /* Customize as needed */
    background-color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    display: none;

  }
  @media screen and (max-width: 800px) {
    .options{
      display: none;
    }
    .menu-btn{
      display: block;
    }
  }
  
  .options ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .options ul li{
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .options ul li:hover{
    opacity: .7;
  }
  
  .options button{
    all: unset;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 999px;
    transition: transform 0.4s ease;
  }
  .options button:hover{
    transform: scale(0.9); 
  }
  .navbar img {
    height: 110px;
  }

  .content{
    display: flex;
    flex-direction: column;
    max-width: 970px;
    padding: 0 50px;
    margin: auto;
    gap: 5vh;
  }
  .tagline{
    color: white;
      font-weight: 500;
      font-size: clamp(2rem,5vw, 3rem);
      text-align: center;
  }
  
  .intro{
    color: rgb(211, 211, 211);
    font-weight: 300;
    font-size: clamp(1.7rem, 1rem + 5vw, 2rem);
    text-align: center;
  }

.CTA{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 60px;
}


